
@{
    ViewBag.Title = "student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>student</h2>
<h3>
    Ime=@ViewBag.Ime
</h3>
<h3>
    Prezime=@ViewBag.Prezime
</h3>
<h3>
    GodinaRodenja=@ViewBag.GodinaRodenja
</h3>
