@using PUAP20222_vjezba.Models
@model Student
@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string spol = "";
    if (@Model!=null && @Model.Spol == 'M')
    {
        spol = "Muški";
    }
    else
    {
        spol = "Ženski";
    }
}

<h2>Detalji</h2>

Prezime:@Model.Prezime<br />
Ime:@Model.Ime<br />
Godina studiranja:@Model.GodinaStudija<br />
Oib:@Model.Oib<br />
Datum rođenja:@Model.DatumRodjenja.ToString("dd.mm.yyyy")<br />